// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
